Package: @NAME@
Section: devel
Priority: extra
Version: @VERSION@-@RELEASE@
Architecture: all
Maintainer: rod.n.mackenzie@gmail.com
Installed-Size: 16640
Description: TeamCity Build Agent
Homepage: https://www.jetbrains.com/teamcity
